[submodule "RelayTestAppCPP/Plugins/BCClient"]
	path = RelayTestAppCPP/Plugins/BCClient
	url = https://github.com/getbraincloud/braincloud-unreal-plugin.git
	branch = develop
[submodule "RelayTestApp/Plugins/BCClient"]
	path = RelayTestApp/Plugins/BCClient
	url = https://github.com/getbraincloud/braincloud-unreal-plugin.git
	branch = develop
[submodule "TappyChicken/Plugins/BCClient"]
	path = TappyChicken/Plugins/BCClient
	url = https://github.com/getbraincloud/braincloud-unreal-plugin.git
	branch = develop
[submodule "ScriptTestApp/Plugins/BCClient"]
	path = ScriptTestApp/Plugins/BCClient
	url = https://github.com/getbraincloud/braincloud-unreal-plugin.git
	branch = develop
[submodule "BCFPS/Plugins/BCClient"]
	path = BCFPS/Plugins/BCClient
	url = https://github.com/getbraincloud/braincloud-unreal-plugin.git
	branch = develop
[submodule "Groups/Plugins/BCClient"]
    path = Groups/Plugins/BCClient
    url = https://github.com/getbraincloud/braincloud-unreal-plugin.git
	branch = develop
[submodule "Leaderboard/Plugins/BCClient"]
    path = Leaderboard/Plugins/BCClient
    url = https://github.com/getbraincloud/braincloud-unreal-plugin.git
	branch = develop
[submodule "BCChat/Plugins/BCClient"]
	path = BCChat/Plugins/BCClient
	url = https://github.com/getbraincloud/braincloud-unreal-plugin.git
    branch = develop
[submodule "MobileTestApp/Plugins/BCClient"]
	path = MobileTestApp/Plugins/BCClient
	url = https://github.com/getbraincloud/braincloud-unreal-plugin.git
    branch = develop
[submodule "MobileTestAppUE4/Plugins/VaRest"]
	path = MobileTestAppUE4/Plugins/VaRest
	url = https://github.com/ufna/VaRest.git
	branch = 4.27
[submodule "MobileTestAppUE4/Plugins/BCClient"]
	path = MobileTestAppUE4/Plugins/BCClient
	url = https://github.com/getbraincloud/braincloud-unreal-plugin.git
	branch = develop
[submodule "Cropout/Plugins/brainCloud"]
	path = Cropout/Plugins/brainCloud
	url = https://github.com/getbraincloud/braincloud-unreal-plugin.git
	branch = develop
[submodule "Cropout/Plugins/BCClient"]
	path = Cropout/Plugins/BCClient
	url = https://github.com/getbraincloud/braincloud-unreal-plugin.git
	branch = develop
