[submodule "RelayTestAppCPP/Plugins/VaRest"]
	path = RelayTestAppCPP/Plugins/VaRest
	url = https://github.com/ufna/VaRest.git
	branch = 4.27
[submodule "RelayTestAppCPP/Plugins/BCClient"]
	path = RelayTestAppCPP/Plugins/BCClient
	url = https://github.com/getbraincloud/braincloud-unreal-plugin-src.git
[submodule "RelayTestApp/Plugins/VaRest"]
	path = RelayTestApp/Plugins/VaRest
	url = https://github.com/ufna/VaRest.git
	branch = 4.27
[submodule "RelayTestApp/Plugins/BCClient"]
	path = RelayTestApp/Plugins/BCClient
	url = https://github.com/getbraincloud/braincloud-unreal-plugin-src.git
[submodule "TappyChicken/Plugins/VaRest"]
	path = TappyChicken/Plugins/VaRest
	url = https://github.com/ufna/VaRest.git
	branch = 4.27
[submodule "TappyChicken/Plugins/BCClient"]
	path = TappyChicken/Plugins/BCClient
	url = https://github.com/getbraincloud/braincloud-unreal-plugin-src.git
[submodule "ScriptTestApp/Plugins/VaRest"]
	path = ScriptTestApp/Plugins/VaRest
	url = https://github.com/ufna/VaRest.git
	branch = 4.27
[submodule "ScriptTestApp/Plugins/BCClient"]
	path = ScriptTestApp/Plugins/BCClient
	url = https://github.com/getbraincloud/braincloud-unreal-plugin-src.git
[submodule "BCFPS/Plugins/BCClient"]
	path = BCFPS/Plugins/BCClient
	url = https://github.com/getbraincloud/braincloud-unreal-plugin-src.git
	branch = develop
